.enteringInfor{
    width: fit-content;
    margin: auto;
    text-align: center;
}

.buttonAdd{
    background-color: #ecf0f3;
    box-shadow:
    4px 4px 4px 0px #b6ffd4 inset,
    -4px -4px 4px 0px #d9ffd0 inset;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-left:40px ;
    border: none;
    color: black;
    transition: 0.3s;
}
.buttonAdd:hover{
    box-shadow:
    4px 4px 4px 0px #8bfab9 inset,
    -4px -4px 4px 0px #a1fd8c inset;
}
.manual{
    background-color: #ecf0f3;
    box-shadow:
    4px 4px 4px 0px #d1d9e6 inset,
    -4px -4px 4px 0px #ffffff inset;
    padding: 30px;
    border-radius: 16px;
    min-width: 700px;
}
.buttonNext{
    background-color: #ecf0f3;
    box-shadow:
    4px 4px 4px 0px #b6deff inset,
    -4px -4px 4px 0px #d0fcff inset;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-left:40px ;
    border: none;
    color: black;
    transition: 0.3s;
}
.buttonNext:hover{
    box-shadow:
    4px 4px 4px 0px #82c3f8 inset,
    -4px -4px 4px 0px #98f3fa inset;
}
.input{
    padding: 10px ;
    border-radius: 5px;
    margin-right: 5px;
    outline: none;
    width: 60%;
    border: none;
    box-shadow:
    4px 4px 4px 0px #d1d9e6 inset,
    -4px -4px 4px 0px #ffffff inset;
}